.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  margin: 0;
  padding: 0;
}

h1, h3 {
  color: #bb86fc; /* Color de acento */
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

br {
  margin-bottom: 20px;
}

.component-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #1e1e1e; /* Fondo de los componentes */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
  color: #03dac6; /* Color de los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

